services:

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: coffee-pos-frontend
    image: nongdev/coffee-pos-frontend:latest
    restart: always
    networks:
      - web

networks:
  web:
    external: true
  internal_project_network:
    driver: bridge
